UPDATE public.nprogrmlist SET url = '/admin/collaboration/select-bbs-master-infs' WHERE progrm_file_nm = 'SelectBBSMasterInfs';
UPDATE public.nprogrmlist SET url = '/admin/collaboration/sndng-mail' WHERE progrm_file_nm = 'insertSndngMailView';
UPDATE public.nprogrmlist SET url = '/admin/collaboration/sndng-mail' WHERE progrm_file_nm = 'selectSndngMailList';
UPDATE public.nprogrmlist SET url = '/admin/collaboration/dept-job-bx' WHERE progrm_file_nm = 'selectDeptJobBxList';
UPDATE public.nprogrmlist SET url = '/admin/collaboration/dept-job' WHERE progrm_file_nm = 'selectDeptJobList';
UPDATE public.nprogrmlist SET url = '/admin/collaboration/leader-schdul' WHERE progrm_file_nm = 'selectLeaderSchdulList';
UPDATE public.nprogrmlist SET url = '/admin/collaboration/all-schdul' WHERE progrm_file_nm = 'EgovAllSchdulManageList';
UPDATE public.nprogrmlist SET url = '/admin/collaboration/dept-schdul' WHERE progrm_file_nm = 'EgovDeptSchdulManageList';
UPDATE public.nprogrmlist SET url = '/admin/collaboration/indvdl-schdul' WHERE progrm_file_nm = 'EgovIndvdlSchdulManageList';
UPDATE public.nprogrmlist SET url = '/admin/knowledge/list-request-offer' WHERE progrm_file_nm = 'listRequestOffer';
UPDATE public.nprogrmlist SET url = '/admin/security/group' WHERE progrm_file_nm = 'EgovGroupList';
UPDATE public.nprogrmlist SET url = '/admin/integration/cntc-instt' WHERE progrm_file_nm = 'getCntcInsttList';
UPDATE public.nprogrmlist SET url = '/admin/integration/cntc-message' WHERE progrm_file_nm = 'getCntcMessageList';
UPDATE public.nprogrmlist SET url = '/admin/integration/cntc-sttus' WHERE progrm_file_nm = 'getCntcSttusList';
UPDATE public.nprogrmlist SET url = '/admin/integration/system-cntc' WHERE progrm_file_nm = 'getSystemCntcList';
UPDATE public.nprogrmlist SET url = '/admin/stats/bbs-stats' WHERE progrm_file_nm = 'selectBbsStats';
UPDATE public.nprogrmlist SET url = '/admin/stats/dta-use-stats' WHERE progrm_file_nm = 'selectDtaUseStatsList';
UPDATE public.nprogrmlist SET url = '/admin/stats/reprt-stats' WHERE progrm_file_nm = 'selectReprtStatsListView';
UPDATE public.nprogrmlist SET url = '/admin/stats/user-stats' WHERE progrm_file_nm = 'selectUserStats';
UPDATE public.nprogrmlist SET url = '/admin/system/ccm-administ-code' WHERE progrm_file_nm = 'EgovCcmAdministCodeList';
UPDATE public.nprogrmlist SET url = '/admin/system/ccm-cmmn-cl-code' WHERE progrm_file_nm = 'EgovCcmCmmnClCodeList';
UPDATE public.nprogrmlist SET url = '/admin/system/instt-code-recptn' WHERE progrm_file_nm = 'getInsttCodeRecptnList';
UPDATE public.nprogrmlist SET url = '/admin/system/select-sys-history' WHERE progrm_file_nm = 'SelectSysHistoryList';
UPDATE public.nprogrmlist SET url = '/admin/system/bkmk-menu' WHERE progrm_file_nm = 'selectBkmkMenuManageList';
UPDATE public.nprogrmlist SET url = '/admin/system/menu-creat-manage' WHERE progrm_file_nm = 'EgovMenuCreatManageSelect';
UPDATE public.nprogrmlist SET url = '/admin/system/site-mapng' WHERE progrm_file_nm = 'EgovSiteMapng';
UPDATE public.nprogrmlist SET url = '/admin/system/program-change-requst-process-list' WHERE progrm_file_nm = 'EgovProgramChangeRequstProcessListSelect';
UPDATE public.nprogrmlist SET url = '/admin/system/program-change-requst' WHERE progrm_file_nm = 'EgovProgramChangeRequstSelect';
UPDATE public.nprogrmlist SET url = '/admin/system/program-chg-hst-list' WHERE progrm_file_nm = 'EgovProgramChgHstListSelect';
UPDATE public.nprogrmlist SET url = '/admin/system/server-eqpmn' WHERE progrm_file_nm = 'selectServerEqpmnList';
UPDATE public.nprogrmlist SET url = '/admin/system/trobl-process' WHERE progrm_file_nm = 'selectTroblProcessList';
UPDATE public.nprogrmlist SET url = '/admin/system/trobl-reqst' WHERE progrm_file_nm = 'selectTroblReqstList';
UPDATE public.nprogrmlist SET url = '/admin/user/annvrsry-main' WHERE progrm_file_nm = 'selectAnnvrsryMainList';
UPDATE public.nprogrmlist SET url = '/admin/user/annvrsry' WHERE progrm_file_nm = 'selectAnnvrsryManageList';
UPDATE public.nprogrmlist SET url = '/admin/user/bndt-ceck' WHERE progrm_file_nm = 'EgovBndtCeckManageList';
UPDATE public.nprogrmlist SET url = '/admin/user/bndt' WHERE progrm_file_nm = 'EgovBndtManageList';
UPDATE public.nprogrmlist SET url = '/admin/user/event-cmpgn' WHERE progrm_file_nm = 'EgovEventCmpgnList';
UPDATE public.nprogrmlist SET url = '/admin/user/event-rcrpt' WHERE progrm_file_nm = 'EgovEventRcrptManageList';
UPDATE public.nprogrmlist SET url = '/admin/user/event-reqst' WHERE progrm_file_nm = 'EgovEventReqstManageList';
UPDATE public.nprogrmlist SET url = '/admin/user/mtg-place' WHERE progrm_file_nm = 'selectMtgPlaceManageList';
UPDATE public.nprogrmlist SET url = '/admin/user/mtg-place-resve' WHERE progrm_file_nm = 'selectMtgPlaceResveManageList';
UPDATE public.nprogrmlist SET url = '/admin/user/user-absnce' WHERE progrm_file_nm = 'selectUserAbsnceListView';
UPDATE public.nprogrmlist SET url = '/admin/user/vcatn' WHERE progrm_file_nm = 'EgovVcatnManageList';
UPDATE public.nprogrmlist SET url = '/admin/user/indvdlpge-cntnts' WHERE progrm_file_nm = 'EgovIndvdlpgeCntntsList';
UPDATE public.nprogrmlist SET url = '/admin/user/hpcm-list' WHERE progrm_file_nm = 'HpcmListInqire';
UPDATE public.nprogrmlist SET url = '/admin/user/word-dicary-list' WHERE progrm_file_nm = 'WordDicaryListInqire';
UPDATE public.nprogrmlist SET url = '/admin/user/meeting' WHERE progrm_file_nm = 'EgovMeetingManageList';
UPDATE public.nprogrmlist SET url = '/admin/user/cpyrht-prtc-policy-list' WHERE progrm_file_nm = 'CpyrhtPrtcPolicyListInqire';
UPDATE public.nprogrmlist SET url = '/admin/user/list-indvdl-info-policy' WHERE progrm_file_nm = 'listIndvdlInfoPolicy';
UPDATE public.nprogrmlist SET url = '/admin/user/stplat-list' WHERE progrm_file_nm = 'StplatListInqire';
UPDATE public.nprogrmlist SET url = '/admin/user/dept-manage' WHERE progrm_file_nm = 'selectDeptManageListView';
UPDATE public.nprogrmlist SET url = '/admin/user/entrprs-mber' WHERE progrm_file_nm = 'EgovEntrprsMberManage';
UPDATE public.nprogrmlist SET url = '/admin/user/mber' WHERE progrm_file_nm = 'EgovMberManage';
UPDATE public.nprogrmlist SET url = '/admin/utility/db-mntrng' WHERE progrm_file_nm = 'getDbMntrngList';
UPDATE public.nprogrmlist SET url = '/admin/utility/file-sys-mntrng' WHERE progrm_file_nm = 'selectFileSysMntrngList';
UPDATE public.nprogrmlist SET url = '/admin/utility/com-utl-http-mon' WHERE progrm_file_nm = 'EgovComUtlHttpMonList';
UPDATE public.nprogrmlist SET url = '/admin/utility/ntwrk-svc-mntrng' WHERE progrm_file_nm = 'selectNtwrkSvcMntrngList';
UPDATE public.nprogrmlist SET url = '/admin/utility/com-utl-process-mon' WHERE progrm_file_nm = 'EgovComUtlProcessMonList';
UPDATE public.nprogrmlist SET url = '/admin/utility/proxy-svc' WHERE progrm_file_nm = 'selectProxySvcList';
UPDATE public.nprogrmlist SET url = '/admin/utility/login-session' WHERE progrm_file_nm = 'loginSessionView';
UPDATE public.nprogrmlist SET url = '/admin/utility/mntrng-server' WHERE progrm_file_nm = 'selectMntrngServerList';
UPDATE public.nprogrmlist SET url = '/admin/utility/trsmrcv-mntrng' WHERE progrm_file_nm = 'getTrsmrcvMntrngList';
