BEGIN;
UPDATE public.nprogrmlist SET url = '/admin/collaboration' WHERE url = '/admin/collaboration/all-schdul';
UPDATE public.nprogrmlist SET url = '/admin/collaboration' WHERE url = '/admin/collaboration/dept-schdul';
UPDATE public.nprogrmlist SET url = '/admin/collaboration' WHERE url = '/admin/collaboration/indvdl-schdul';
UPDATE public.nprogrmlist SET url = '/admin/collaboration' WHERE url = '/admin/collaboration/leader-schdul';
UPDATE public.nprogrmlist SET url = '/admin/collaboration' WHERE url = '/admin/collaboration/bbs-master-infs';
UPDATE public.nprogrmlist SET url = '/admin/collaboration' WHERE url = '/admin/collaboration/sndng-mail';
UPDATE public.nprogrmlist SET url = '/admin/collaboration' WHERE url = '/admin/collaboration/dept-job';
UPDATE public.nprogrmlist SET url = '/admin/collaboration' WHERE url = '/admin/collaboration/dept-job-bx';
UPDATE public.nprogrmlist SET url = '/admin/system/common-code/codes' WHERE url = '/admin/system/administ-code';
UPDATE public.nprogrmlist SET url = '/admin/system/common-code/groups' WHERE url = '/admin/system/cmmn-cl-code';
UPDATE public.nprogrmlist SET url = '/admin/system/common-code/groups' WHERE url = '/admin/system/common-code/groups';
UPDATE public.nprogrmlist SET url = '/admin/system/common-code/details' WHERE url = '/admin/system/common-code/details';
UPDATE public.nprogrmlist SET url = '/admin/system/common-code/zip' WHERE url = '/admin/system/common-code/zip';
UPDATE public.nprogrmlist SET url = '/admin/system/menus/by-authority' WHERE url = '/admin/system/menu-creat';
UPDATE public.nprogrmlist SET url = '/admin/system/menus' WHERE url = '/admin/system/site-mapng';
UPDATE public.nprogrmlist SET url = '/admin/system/menus' WHERE url = '/admin/system/menus';
UPDATE public.nprogrmlist SET url = '/admin/system/programs' WHERE url = '/admin/system/programs';
UPDATE public.nprogrmlist SET url = '/admin/system/monitoring' WHERE url = '/admin/utility/db-mntrng';
UPDATE public.nprogrmlist SET url = '/admin/system/monitoring' WHERE url = '/admin/utility/file-sys-mntrng';
UPDATE public.nprogrmlist SET url = '/admin/system/monitoring' WHERE url = '/admin/utility/com-utl-http-mon';
UPDATE public.nprogrmlist SET url = '/admin/system/monitoring' WHERE url = '/admin/utility/com-utl-process-mon';
UPDATE public.nprogrmlist SET url = '/admin/system/monitoring' WHERE url = '/admin/utility/mntrng-server';
UPDATE public.nprogrmlist SET url = '/admin/system/monitoring' WHERE url = '/admin/utility/ntwrk-svc-mntrng';
UPDATE public.nprogrmlist SET url = '/admin/system/monitoring' WHERE url = '/admin/utility/proxy-svc';
UPDATE public.nprogrmlist SET url = '/admin/system/monitoring' WHERE url = '/admin/utility/trsmrcv-mntrng';
UPDATE public.nprogrmlist SET url = '/admin/system/logs/login' WHERE url = '/admin/utility/login-session';
UPDATE public.nprogrmlist SET url = '/admin/system/logs/login' WHERE url = '/admin/system/logs/login';
UPDATE public.nprogrmlist SET url = '/admin/security/group' WHERE url = '/admin/security/groups';
UPDATE public.nprogrmlist SET url = '/admin/security/group' WHERE url = '/admin/security/group';
UPDATE public.nprogrmlist SET url = '/admin/security/authority' WHERE url = '/admin/security/authority';
UPDATE public.nprogrmlist SET url = '/admin/security/role' WHERE url = '/admin/security/role';
UPDATE public.nprogrmlist SET url = '/admin/security/dept-authority' WHERE url = '/admin/security/dept-authority';
UPDATE public.nprogrmlist SET url = '/admin/system/vacation' WHERE url = '/admin/user/vcatn';
UPDATE public.nprogrmlist SET url = '/admin/user/manage' WHERE url = '/admin/user/mber';
UPDATE public.nprogrmlist SET url = '/admin/user/manage' WHERE url = '/admin/user/entrprs-mber';
UPDATE public.nprogrmlist SET url = '/admin/user/manage' WHERE url = '/admin/user/manage';
UPDATE public.nprogrmlist SET url = '/admin/user/manage' WHERE url = '/admin/user/login-policy';
UPDATE public.nprogrmlist SET url = '/admin/stats/user' WHERE url = '/admin/stats/user-stats';
UPDATE public.nprogrmlist SET url = '/admin/stats/user' WHERE url = '/admin/stats/user';
UPDATE public.nprogrmlist SET url = '/admin/stats' WHERE url = '/admin/stats/reprt-stats';
UPDATE public.nprogrmlist SET url = '/help' WHERE url = '/admin/user/hpcm';
UPDATE public.nprogrmlist SET url = '/uss/ion/anniversaries' WHERE url = '/admin/user/annvrsry';
UPDATE public.nprogrmlist SET url = '/admin/help/faq' WHERE url = '/admin/help/faq';
UPDATE public.nprogrmlist SET url = '/admin/help/qna' WHERE url = '/admin/help/qna';
COMMIT;
