<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">

	<display-name>egovframework.ebt</display-name>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!--
		Tomcat 10 ??곴맒??野껋럩??multipart ????????됱뒠??롫뮉 筌ㅼ뮆? ?봔????? ??쀫립??롫뮉 ?닌딄쉐???袁る퉸 maxPartCount ?곕떽?
		- 10.1 ??곴맒 甕곌쑴?얗겫????袁⑹뿯,  ?醫롮삺?怨몄뵥 ??뺥돩??椰꾧퀡?(DoS) ?띯뫁鍮?癒?뱽 ??욧퍙
		<Context docBase="" path="/" reloadable="true" maxPartCount="1000">
	-->
	<filter>
		<display-name>springMultipartFilter</display-name>
		<filter-name>springMultipartFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springMultipartFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!--
		HTMLTagFilter??野껋럩??????뵬沃섎챸苑??????뤿연 XSS ??살첒 獄쎻뫗????袁る립 癰궰??륁뱽 筌ｌ꼶???몃빍??
		XSS 癰귣똻釉??袁る퓮 獄쎻뫗????袁る릭??獄쏆꼶諭????쇱젟 ??뤿????몃빍??
		(<c:out />??野껋럩???????됯퀡?????????⑤끃肉???뽰젟??뤿연 ?怨쀬뵠???곗뮆???XSS 獄쎻뫗? 筌ｌ꼶?곩첎? ??
	-->
	<filter>
		<filter-name>HTMLTagFilter</filter-name>
		<filter-class>egovframework.com.cmm.filter.HTMLTagFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HTMLTagFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!-- security start -->
	<!--
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>contextAttribute</param-name>
			<param-value>org.springframework.web.servlet.FrameworkServlet.CONTEXT.action</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->

	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<!-- security end -->

	<!--
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:egovframework/spring/com/context-*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	-->

	<!--
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/egovframework/springmvc/*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
			<max-file-size>10485760</max-file-size>
			<max-request-size>104857600</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	-->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<session-config>
		<session-timeout>600</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/error.jsp</location>
	</error-page>

</web-app>
